* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
}

/*------- SCROLL COLOR ---------*/
body::-webkit-scrollbar {
  width: 7px;
  background-color: #010326;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 4px;
}

/*------ BARRA DE MANU -------*/
nav {
  position: fixed;
  z-index: 100;
  transition: 0.5s;
}
nav.hide {
  transform: translateY(-100%);
}
.nav-menu {
  background-color: #010326e5;
  width: 100%;
}
.nav-menu .nav-menu2 {
  width: 96%;
  height: 75px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 26%;
}
.nav-menu .nav-menu2 ul {
  display: flex;
  list-style: none;
}
.nav-menu .nav-menu2 ul li {
  font-size: 16px;
  margin: 0px 15px;
}
.nav-menu2 ul li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding-bottom: 3px;
}
.nav-menu2 ul li a::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.4s;
}
.nav-menu2 ul li a:hover::after {
  width: 100%;
}

/*------ SECTION -------*/
.contenedor1 {
  background-color: #010326;
  width: 100%;
  padding: 70px 0px 30px 0px;
}
.contenedor2 {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 40px 0px 100px 0px;
}
.titulo{
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.register{
  color: #fff;
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.table-dark{
  background-color: #060940;
}
.btn-primary{
  background-color: #7338f2;
  border: none;
}
.btn-primary:hover{
  background-color: #4d25a1;
  border: none;
}


/**/
.caja-novedades{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}
.caja-novedades .coment-usu{
  background-color: #060940;
  padding: 30px 50px;
}
.caja-usu{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.perfil-usu{
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
}
.perfil-usu img{
  width: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.caja-novedades .coment-usu h2{
  color: #fff;
}
.coment-usu h2 span{
  font-size: 14px;
  margin-left: 8px;
  color: rgb(202, 202, 202);
}
.coment-usu p{
  color: #fff;
}
.novedades .btn-nove{
  display: inline-block;
  color: #010326;
  font-weight: bold;
  background-color: #fff;
  padding: 15px 40px;
  text-decoration: none;
  transition: all .3s ease;
  border-radius: 5px;
  margin-top: 30px;
}
.btn-vermas{
  width: 100%;
  text-align: center;
}

/*------ FOOTER ------*/
footer {
  width: 100%;
  background-color: #010326;
}
footer .main-footer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
footer .main-footer .lista {
  margin-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #7338f2;
}
footer .footer-logo {
  display: flex;
  flex-direction: column;
  width: 30%;
}
footer .footer-logo img {
  width: 30%;
}
footer .footer-logo .correo p {
  margin-top: 25px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
footer .footer-logo .correo h3 {
  margin-top: 8px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
footer .footer-logo .correo .correo-reg input {
  margin-top: 10px;
  padding: 4px;
}
footer .footer-logo .correo .correo-reg a {
  color: #060940;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
footer .main-footer .lista .filas h4 {
  color: #fff;
  font-size: 18px;
}
footer .main-footer .lista .filas ul {
  list-style: none;
  margin-top: 10px;
  margin-left: 5px;
}
footer .main-footer .lista .filas ul li {
  margin: 18px 0px;
}
footer .main-footer .lista .filas ul li a {
  color: #fff;
  text-decoration: none;
}
footer .main-footer .final {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}
footer .main-footer .creadores p {
  color: #fff;
}
footer .main-footer .copy {
  color: #fff;
  font-size: 11px;
}
footer .main-footer .links a i {
  color: #fff;
  font-size: 16px;
  margin: 0px 16px;
}
